.tab-nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.tab-nav li {
  flex: 1 auto;
  text-align: center;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid black;
  border-radius: 10px 10px 0 0;
}

.tab-nav .active {
  position: relative;
  z-index: 9001;
  border: 1px solid black;
  border-bottom: 1px solid white;
}

.tab-nav li a {
  padding: 0 20px;
  text-decoration: none;
  color: black;
  font: 2em "IM Fell DW Pica SC", serif;
}

.tab {
  width: 100%;
}

.tab-content {
  padding: 10px;
  display: none;
  font: 1em "Lato", sans-serif;
}
